



@media (max-width:576px) {
    .mmicon {
        display: inline;
        width: auto;
        height: auto;
        padding: 0px 30px;
        color: white;
        z-index: 100;
    }

    .menu-items-mobile {
        padding: 20px 0px 20px 15px;
        background-color: rgba(255, 255, 255, 0.916);
        position: absolute;
        position: fixed;
        width: 40%;
        font-size: 10pt;
        box-shadow: 1px 1px 10px rgb(169, 169, 169);
        height: 100vh;
        left: 0%;
        top: 14%;
        overflow: auto;
        z-index: 100;
    }


img, svg {
    margin: 0px 10px 3px 0px;
}

}


