* {
    padding: 0;
    margin: 0;
    font-family: THICCCBOI, sans-serif;
}

.wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}

.accordian {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 100px 0px 0px;
}

.item.active h2{
    color: #54A8C7;
   
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.title h2 {
    margin-top: 14px;
    font-size: 10pt;
    font-weight: 600;
    color: black;
}

.title h2:hover {
    color: #54A8C7;
}


.content {
    padding-top: 10px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s  cubic-bezier(0,1,0,1);
}

.content h4 {
    margin-left: 40px;
    text-align: justify;
    font-size: 10pt;
    font-weight: 300;
    color: rgb(124, 124, 124);
    padding-bottom: 10px;
}

.content.show {
    max-height: 9999px;
    color: #54A8C7;
    height: auto;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}

@media (max-width: 500px) {
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
    
    .accordian {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .item {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
        margin: 10px 0px;
        padding: 35px 20px 0px 20px;
        box-shadow: 5px 5px 20px rgb(227, 225, 225);
    }
    
    .title {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        cursor: pointer;
    }
    
    .title h2 {
        margin-left: 10px;
        font-size: 10pt;
        font-weight: 600;
        font-family: Nunito, sans-serif;
        color: rgb(51, 51, 51);
    }
    
    .arrow {
        position: absolute;
        margin-left: 0%;
        width: 30px;
        right: 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .content {
        padding-top: 30px;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s  cubic-bezier(0,1,0,1);
    }
    
    .content h4 {
        text-align: justify;
        font-size: 8pt;
        font-weight: 400;
        font-family: Nunito, sans-serif;
        color: rgb(166, 164, 164);
        padding-bottom: 30px;
    }
    
    .content.show {
        max-height: 9999px;
        height: auto;
        transition: all 0.5s cubic-bezier(1,0,1,0);
    }
}