* {
    padding: 0;
    margin: 0;
}


/* SIGN UP AND LOGIN  */

.mainpopup2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #E2E3E5;
}

.popup-inner2 {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupbox2 {
    width: 40%;
    height: 85%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btnbox2 {
    width: 65%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.close-btn2 {
    padding: 0px;
    border: 0;
    background-color: white;
    border-radius: 100px;
    font-size: 12pt;
}

.headingbox2 {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headingbox2 h2 {
    font-size: 14pt;
    margin: 0px 15px;
    font-weight: 600;
    font-family: Nunito, sans-serif;
    color: rgb(0, 0, 0);
}

.description2 {
    padding: 10px 5px 20px 0px;
    border-bottom: 1px solid rgb(174, 174, 174);
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.description2 h3 {
    font-size: 10pt;
    font-weight: 600;
    font-family: Nunito, sans-serif;
    color: rgb(113, 113, 113);
}

.forminputs2 {
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.formcontainer2 {
    display: flex;
    flex-direction: column;
}

.divfordob2 {
    width: 50%;
}


.empas2 {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.empas3 {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.forminputs2 form{
    display: flex;
    flex-direction: column;
}

input[type="Email33"], [type="password"], [type="date"],
select, textarea {
    background-color: #ffffff;
    margin: 10px 0px;
    width: 100%;
    padding: 10px;
    font-size: 10pt;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    resize: vertical;
}

::placeholder {
    color: #9da1a4;
    font-size: 12pt;
  }


.empas2 label {
    font-weight: 600;
    font-size: 12pt;
}

.empas3 label {
    font-weight: 600;
    font-size: 12pt;
    margin-right: 50px;
}

.divforbutton2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btnblue3 {
    width: 50%;
    background-color: blue;
    color: white;
    border: none;
    font-size: 10pt;
    margin-top: 10px;
    padding-top: 10px;
}

.btnblue2:hover {
    background-color: #7bb0ec;
}

.login2 {
    padding: 40px 40px 0px 0px ;
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.login2 h3 {
    font-size: 10pt;
    font-weight: 600;
    font-family: Nunito, sans-serif;
    color: rgb(113, 113, 113);
}


.forgotpass {
    padding: 0px;
    width: 43%;
    margin: 15px 0px;
    background-color: white;
    border: none;
    padding-left: 20px;
    font-size: 10pt;
    font-weight: 600;
    font-family: Nunito, sans-serif;
    color: rgb(180, 180, 180);
}

.forgotpass:hover {
color: #7bb0ec;
}

.signupbtn {
    background-color: white;
    border: none;
    margin-bottom: 9px;
    font-size: 10pt;
    font-weight: 600;
    font-family: Nunito, sans-serif;
    color: blue;
}

.signupbtn:hover {
    color: #7bb0ec;
}
