* {
  padding: 0px;
  margin: 0px;
}

/* Header part */
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2% 6%;
  align-items: center;
  background-color: white;
  position: fixed;
  z-index: 100;
  box-shadow: 1px 1px 20px rgb(232, 232, 232);
}

.logo img {
  width: 100px;
  height: auto;
}

.block1 ul li .active {
  color: blue;
}

.linkss {
  text-decoration: none;
  color: black;
}

.block1 {
  padding-left: 25px;
  position: relative;
}

.block1 ul li a {
  color: black;
  font-size: 12pt;
  margin: 0px 15px;
}

.block1 ul li a:hover {
  color: #4099FF;
}

.block2 {
  position: relative;
  left: 18%;
}

.block2 ul li a {
  color: black;
  font-size: 12pt;
  margin: 0px 5px;
}

button {
  background-color: #4099FF;
  border: none;
  font-size: 14pt;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 600;
}

.login-btn {
  background-color: white;
  border: none;
  font-size: 14pt;
  font-weight: 400;
}

.login-btn:hover {
  color: #4099FF;
}


/* MEDIA QUERIES FOR HEADER */
  @media (max-width: 500px) {
    .header {
      width: 100%;
      padding: 10px 20px;
      display: flex;
      flex-direction: column;
      position: relative;
      box-shadow: none;

    }
    
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    
    .logo img {
      margin-right: 20px;
      width: 20%;
    }
    
    .block1 {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0px;
    }
    
    .nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
      .block1 ul li a {
        display: block;
        margin: 10px;
        color: black;
        font-size: 8pt;
        padding: 0px;
      }
    
      .block2 {
       display: flex;
       justify-content: center;
      }

      .login-btn {
        background-color: white;
        border: none;
        margin-right: 10px;
        font-size: 10pt;
      }

      .btn-primary {
        padding: 3px 7px;
        font-size: 10pt;
      }
    
    }

/* main body  */
.contmain {
  background-color: #f5f7fc;
  display: flex;
  width: 100%;
  height: 140vh;
  flex-direction: row;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 30px;
}

.cont1 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentbox1 {
  width: 85%;
  height: 50%;
}

.contentbox1 h1 {
  font-size: 22pt;
  text-align: justify;
  font-family: Nunito, sans-serif;
  font-weight: 600;
}
.contentbox1 h2 {
  font-size: 14pt;
  font-weight: 400;
  font-family: sans-serif;
  margin: 40px 0px;
  text-align: justify;
}

input[type="email"],
select,
textarea {
  width: 65%;
  padding: 14px;
  font-size: 12pt;
  border: 1px solid #f9f8ff;
  box-shadow: -5px 5px 10px rgba(219, 219, 219, 0.486);
  border-radius: 4px 0px 0px 4px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #d92830;
  padding: 14px;
  font-size: 12pt;
  border: 1px solid #f9f8ff;
  border-radius: 0px 4px 4px 0px;
  color: white;
  padding: 16px 40px;
}

.cont2 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentbox2 {
  width: 100%;
  height: 90%;
}

.contentbox2 .img1 {
  width: 90%;
  height: auto;
}


/* MEDIA QUERY FOR FIRST SECTION  */
@media (max-width: 500px) {
.contmain {
  height: 70vh;
  padding: 0;
}

.contentbox1 {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

  .contentbox1 h1 {
    font-size: 14pt;
    text-align: justify;
    font-family: Nunito, sans-serif;
    font-weight: 600;
  }
  .contentbox1 h2 {
    font-size: 12pt;
    font-weight: 400;
    font-family: sans-serif;
    margin: 20px 0px;
    text-align: justify;
  }

.contentbox2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

  .contentbox2 .img1 {
    width: 70%;
    height: auto;
  }

  input[type="email"],
select,
textarea {
  width: 70%;
  padding: 10px;
  font-size: 10pt;
  border: 1px solid #f9f8ff;
  box-shadow: -5px 5px 10px rgba(219, 219, 219, 0.486);
  border-radius: 4px 0px 0px 4px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #d92830;
  font-size: 10pt;
  border: 1px solid #f9f8ff;
  border-radius: 0px 4px 4px 0px;
  color: white;
  padding: 10px 20px;
}

form {
  display: flex;
  flex-direction: row;
}
}


/* second section  */

.contmain2 {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.contmain2 .headingdiv {
  width: 100%;
  padding-top: 100px;
  margin-bottom: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contmain2 div h1 {
  font-size: 22pt;
  text-align: justify;
  font-family: Nunito, sans-serif;
  font-weight: 600;
}

.contboxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 7%;
  width: 100%;
  height: 75%;
}

.boxset1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31%;
  height: 60%;
  transition: all 1s;
  box-shadow: -2px 2px 45px rgba(216, 213, 213, 0.486);
  border-radius: 10px;
}

.boxset1:hover {
  margin-top: -60px;
  transition: 1s ease;
}

.boxicons {
  width: 60px;
  height: auto;
}

.iconsboxset1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  padding: 35px 0px;
  font-size: 16pt;
}

.headingsboxset1 h2 {
  font-size: 16pt;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.textboxset1 {
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
  font-weight: 300;
  text-align: center;
  padding: 20px 40px;
}


/* MEDIA QUERIES FOR SECTION 2  */
@media (max-width: 500px) {

  .contmain2  {
      height: 90vh;
      display: flex;
      align-items: center;
    }

    .contmain2 .headingdiv {
      width: 100%;
      padding-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .contmain2 div h1 {
      font-size: 14pt;
      text-align: justify;
      font-family: Nunito, sans-serif;
      font-weight: 600;
    }
    
    .contboxes {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0px 7%;
      width: 100%;
      height: 75%;
    }
    
    .boxset1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 31%;
      height: 60%;
      transition: all 1s;
      box-shadow: -2px 2px 45px rgba(216, 213, 213, 0.486);
      border-radius: 10px;
    }
    
    .boxset1:hover {
      margin-top: -60px;
      transition: 1s ease;
    }
    
    .boxicons {
      width: 10px;
      height: auto;
    }
    
    .iconsboxset1 {
      height: 50px;
      padding: 5px 0px;
      font-size: 12pt;
    }
    
    .headingsboxset1 {
      padding: 0;
      margin: 0;
    }

    .headingsboxset1 h2 {
      text-align: center;
      font-size: 12pt;
    }
    
    .textboxset1 {
      padding: 0px 3px;
    }

    .textboxset1 p {
      font-size: 8pt;
      padding: 0px 5px;
    }
}

/* THIRD SECTION */
/* done in carousel component  */


/* 4th MAIN CONTAINER */
.contmain4 {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f7fc;
}

.hed2 {
  width: 100%;
  height: 30%;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hed2 h2 {
  font-size: 22pt;
  font-family: Nunito, sans-serif;
  font-weight: 600;
}

.brandscont1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 200px;
  margin-top: 20px;
  width: 100%;
  height: 25%;
}

.brandscont1 img {
  width: 100px;
}

.brandscont2 img {
  width: 100px;
}

.brandscont2 {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 300px;
}

.braondboxes {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 16%;
  height: 60%;
  transition: all 1s;
  box-shadow: 1px 1px 20px rgb(219, 218, 218);
}


.braondboxes2 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 20%;
  height: 60%;
  transition: all 1s;
  box-shadow: 1px 1px 20px rgb(219, 218, 218);
}

.braondboxes2:hover {
  margin-top: -15px;
  transition: 0.9s ease;
}

.braondboxes:hover {
  margin-top: -15px;
  transition: 0.9s ease;
}



/* 4th CONTAINER MEDIA QUERY  */
@media (max-width: 500px) {
  .contmain4 {
    margin-top: 100px;
    width: 100%;
    height: 50vh;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    background-color: #f5f7fc;
  }
  
  .hed2 {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hed2 h2 {
    font-size: 12pt;
    font-family: Nunito, sans-serif;
    font-weight: 600;
  }
  
  .brandscont1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    height: 35%;
    padding: 0px;
  }
  
  .brandscont2 {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
  }

  .braondboxes img {
    width: 40px;
  }

  .braondboxes2 img {
    width: 40px;
  }
  
  .braondboxes {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 15%;
    height: 70%;
    transition: none;
    box-shadow: 1px 1px 20px rgb(219, 218, 218);
  }
  
  .braondboxes2 {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 20%;
    height: 70%;
    transition: none;
    box-shadow: 1px 1px 20px rgb(219, 218, 218);
  }
  
  .braondboxes2:hover {
    margin-top: -15px;
    transition: 0.9s ease;
  }
  
  .braondboxes:hover {
    margin-top: -15px;
    transition: 0.9s ease;
  }
}

/* 5TH MAIN CONTAINER */
.contmain5 {
  background-color: #ffffff;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 80px 0px;
  flex-direction: row;
  padding-left: 30px;
}

.contentbox5 {
  padding-top: 30px;
  width: 85%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.contentbox5 h1 {
  font-size: 22pt;
  text-align: justify;
  font-family: Nunito, sans-serif;
  font-weight: 600;
}
.contentbox5 h2 {
  font-size: 12pt;
  line-height: 25px;
  font-weight: 200;
  color: rgb(163, 163, 163);
  font-family: "Open Sans", sans-serif;
  margin: 30px 0px;
  padding-right: 100px;
  text-align: justify;
}

.contentbox5 h3 {
  line-height: 20px;
  font-size: 12pt;
  font-weight: 200;
  color: rgb(163, 163, 163);
  font-family: "Open Sans", sans-serif;
  margin: 5px 0px;
  text-align: justify;
}

.btnblue1 {
  font-size: 12pt;
  margin-top: 40px;
  background-color: #4099FF;
  border: none;
  color: white;
  padding: 15px 30px;
}

.btnblue1:hover {
  margin-top: 20px;
  background-color: #ffffff;
  border: 1px solid #4099FF;
  color: #4099FF;
  padding: 15px 30px;
}

/* 5th container media query  */
@media (max-width: 500px) {
  .contmain5 {
    background-color: #ffffff;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px 0px 50px 0px;
    flex-direction: row;
    padding-left: 30px;
  }

  .cont52 {
    width: 50%;
    height: 100%;
  }
  
  .contentbox5 {
    padding-top: 30px;
    width: 85%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .contentbox5 h1 {
    font-size: 14pt;
    text-align: justify;
    font-family: Nunito, sans-serif;
    font-weight: 600;
  }

.btnblue {
  padding: 10px 20px;
}

  .contentbox5 h2 {
    font-size: 10pt;
    line-height: 20px;
    font-weight: 200;
    color: rgb(163, 163, 163);
    font-family: "Open Sans", sans-serif;
    margin: 10px 0px;
    text-align: justify;
  }
  
  .contentbox5 h3 {
    line-height: 20px;
    font-size: 10pt;
    font-weight: 200;
    color: rgb(163, 163, 163);
    font-family: "Open Sans", sans-serif;
    margin: 3px 0px;
    text-align: justify;
  }

  .contentbox5 .btnblue {
    width: 200px;
    height: 20px;
    padding-bottom: 30px;
    font-size: 10px;
  }

  .contentbox52 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contentbox52 img {
    margin-top: 100px ;
    width: 80%;
  }

}

/* 6TH MAIN CONTAINER */

.contmain6 {
  background-color: #f5f7fc;
  display: flex;
  width: 100%;
  height: 65vh;
  padding: 80px 0px;
  flex-direction: column;
}

.cont6 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
  padding: 0px 20%;
}

.contentbox6 {
  width: 100%;
  height: 30%;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.contentbox6 h2 {
  font-size: 22pt;
  padding-bottom: 20px;
  text-align: justify;
  font-family: Nunito, sans-serif;
  font-weight: 600;
}

.iconbox6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.iconbox6 h2 {
  margin: 20px 0px;
  font-size: 20pt;
  font-family: Nunito, sans-serif;
  font-weight: 600;
}

.iconbox6 h3 {
  font-size: 12pt;
  font-weight: 400;
  color: rgb(141, 140, 140);
}

/* 6th section media query */
@media (max-width: 500px) {
  .contmain6 {
    background-color: #f5f7fc;
    display: flex;
    width: 100%;
    height: 50vh;
    padding: 0px;
    flex-direction: column;
  }
  
  .cont6 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 0px;
  }
  
  .contentbox6 {
    padding-top: 50px;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .contentbox6 h2 {
    font-size: 14pt;
    padding: 0;
    text-align: center;
    font-family: Nunito, sans-serif;
    font-weight: 600;
  }
  
  .iconbox6 {
    margin: 0px;
    padding: 0px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  
  .iconbox6 h2 {
    margin: 5px 0px;
    font-size: 12pt;
    font-family: Nunito, sans-serif;
    font-weight: 600;
  }
  
  .iconbox6 h3 {
    font-size: 10pt;
    font-weight: 400;
    color: rgb(141, 140, 140);
  }
}

/* 7th MAIN SECTION */
.contmain7 {
  width: 100%;
  height: 120vh;
}

.cont2nd7 {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px 150px 0px 150px;
}

.hed7 {
  display: flex;
  width: 100%;
  height: 18vh;
  justify-content: center;
  align-items: flex-end;
}

.hed7 h2 {
  font-size: 22pt;
  font-family: Nunito, sans-serif;
  font-weight: 600;
}

.box7 {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box7 img {
  border-radius: 10px;
}

.contbox7 {
  padding: 20px 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contbox7 h2 {
  font-size: 12pt;
  font-family: Nunito, sans-serif;
  font-weight: 600;
}

.contbox7 h3 {
  text-align: center;
  font-size: 10pt;
  font-weight: 400;
  color: rgb(141, 140, 140);
}

.contbox7 h4 {
  padding: 20px 50px;
  text-align: center;
  font-size: 10pt;
  font-weight: 400;
  color: rgb(141, 140, 140);
}

.box7 img {
  width: 100%;
  height: 100%;
}


/* MEDIA QUERY FOR 7TH SECTION  */
@media (max-width: 500px) {
  .contmain7 {
    width: 100%;
    height: 90vh;
  }
  
  .cont2nd7 {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px 0px 30px;
  }
  
  .hed7 {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: flex-end;
  }
  
  .hed7 h2 {
    font-size: 14pt;
    font-family: Nunito, sans-serif;
    font-weight: 600;
  }
  
  .box7 {
    width: 50%;
    height: 50%;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .box7 img {
    border-radius: 10px;
  }
  
  .contbox7 {
    padding: 20px 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contbox7 h2 {
    font-size: 10pt;
    text-align: center;
    font-family: Nunito, sans-serif;
    font-weight: 600;
  }
  
  .contbox7 h3 {
    text-align: center;
    font-size: 10pt;
    font-weight: 400;
    color: rgb(141, 140, 140);
  }
  
  .contbox7 h4 {
    padding: 10px 0px;
    text-align: center;
    font-size: 10pt;
    font-weight: 400;
    color: rgb(141, 140, 140);
  }
  
  .box7 img {
    width: 100%;
    height: 100%;
  }

  .socicons7 {
    display: none;
  }
}

/* 8th main Section */
.contmain8 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #F5F7FC;
}

.contbox8 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txtstf8 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px 120px 10px 80px;
}

.txtstf8 h2 {
  font-size: 24pt;
  padding-bottom: 20px;
  text-align: left;
  font-family: Nunito, sans-serif;
  font-weight: 600;
}

.txtstf8 h3 {
  text-align: justify;
  font-size: 12pt;
  font-weight: 400;
  font-family: Nunito, sans-serif;
  color: rgb(141, 140, 140);
}

.cb8mini {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  padding-left: 80px;
  padding-top: 20px;
}

.cb8m1 {
  width: 20%;
  height: 80%;
  border-right: 1px solid rgb(176, 175, 175);
  display: flex;
  flex-direction: column;
}

.cb8m2 {
  padding: 0px 30px;
  width: 30%;
  height: 800%;
  display: flex;
  flex-direction: column;
}

.cb8m1 h4 {
  font-size: 14pt;
}

.cb8m2 h4 {
  font-size: 14pt;
}

.contbox82 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contboxmini1 {
  width: 85%;
  height: 30%;
  margin: 30px 0px;
  padding: 0px 30px;
  background-color: white;
  box-shadow: 5px 5px 20px rgb(227, 225, 225);
}

.contboxmini2 {
  width: 85%;
  height: 15%;
  margin-bottom: 30px;
  padding: 0px 30px;
  background-color: white;
  box-shadow: 5px 5px 20px rgb(227, 225, 225);
} 


/* 8th CONTAINER MEDIA QUERY  */
@media (max-width: 500px) {
  .contmain8 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #F5F7FC;
  }
  
  .contbox8 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 80px;
    align-items: center;
  }
  
  .txtstf8 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px 10px 10px 10px;
  }
  
  .txtstf8 h2 {
    font-size: 14pt;
    padding-bottom: 20px;
    text-align: left;
    font-family: Nunito, sans-serif;
    font-weight: 600;
  }
  
  .txtstf8 h3 {
    text-align: justify;
    font-size: 10pt;
    font-weight: 400;
    font-family: Nunito, sans-serif;
    color: rgb(141, 140, 140);
  }
  
  .cb8mini {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 0px;
  }
  
  .cb8m1 {
    width: 100%;
    height: 80%;
    padding: 0px;
    border-right: none;
    display: flex;
    flex-direction: column;
  }
  
  .cb8m2 {
    margin-top: 20px;
    padding: 0px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
  }

  .cb8m1 h4 {
    font-size: 12pt;
  }

  .cb8m2 h4 {
    font-size: 12pt;
  }
  
  .contbox82 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .contboxmini1 {
    width: 85%;
    height: 30%;
    margin: 30px 0px;
    padding: 0px 30px;
    background-color: white;
    box-shadow: 5px 5px 20px rgb(227, 225, 225);
  }
  
  .contboxmini2 {
    width: 85%;
    height: 15%;
    margin-bottom: 30px;
    padding: 0px 30px;
    background-color: white;
    box-shadow: 5px 5px 20px rgb(227, 225, 225);
  } 
  
  .icontxticon {
    margin-top: 20px;
    padding: 30px 0px;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .itiicon1 {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ititxt {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .itiicon2 {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .txtbelowiti {
    padding: 20px 10px 20px 0px;
  }
  
  .txtbelowiti h3 {
    text-align: justify;
    font-size: 10pt;
    font-weight: 400;
    font-family: Nunito, sans-serif;
    color: rgb(181, 178, 178);
  }
}


/* 9th section */
.contmain9 {
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: column;
}

.headingcont9 {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: center;

}

.headingcont9 h2 {
  font-size: 22pt;
  padding-bottom: 20px;
  text-align: left;
  font-family: Nunito, sans-serif;
  font-weight: 600;
}

.cont92 {
  width: 100%;
  height: 100%;
  padding: 50px 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.boxesset9 {
  width: 30%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 1px 1px 20px rgb(219, 218, 218);
}

.boxesset9:hover {
  border-radius: 100px;
  box-shadow: 1px 1px 20px #4099FF;
  transition: 0.6s ease;
}

.boxesset9 h1 {
  padding: 5px 0px;
  text-align: center;
  font-size: 40pt;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  color: rgb(105, 105, 105);
}

.boxesset9 h3 {
  text-align: center;
  font-size: 14pt;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  color: rgb(105, 105, 105);
}

.pointsbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px 0px;
}

.pointsbox h3 {
  text-align: justify;
  font-size: 10pt;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: rgb(159, 157, 157);
}

.btn {
  border: 1px solid #4099FF;
  border-radius: 5px;
  padding: 15px 20px;
  color: #4099FF;
  font-size: 10pt;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: white;
}

.btn:hover {
  background-color: #4099FF;
  color: white;
}

.btn2 {
  border: 1px solid #4099FF;
  border-radius: 5px;
  padding: 15px 20px;
  color: white;
  font-size: 10pt;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: #4099FF;
}

.btn2:hover {
  background-color: white;
  color: #4099FF;
}

/* MEDIA QUERY FOR 9TH SECTION  */
@media (max-width: 500px) {
  .contmain9 {
    width: 100%;
    height: 260vh;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
  }
  
  .headingcont9 {
    padding-top: 50px;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  
  }
  
  .headingcont9 h2 {
    font-size: 14pt;
    padding-bottom: 20px;
    text-align: left;
    font-family: Nunito, sans-serif;
    font-weight: 600;
  }
  
  .cont92 {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .boxesset9 {
    width: 42%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 50px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 20px rgb(219, 218, 218);
  }
  
  .boxesset9:hover {
    border-radius: 100px;
    box-shadow: 1px 1px 20px #4099FF;
    transition: 0.6s ease;
  }
  
  .boxesset9 h1 {
    padding: 5px 0px;
    text-align: center;
    font-size: 16pt;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: rgb(105, 105, 105);
  }
  
  .boxesset9 h3 {
    text-align: center;
    font-size: 10pt;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: rgb(105, 105, 105);
  }
  
  .pointsbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 0px;
  }
  
  .pointsbox h3 {
    text-align: left;
    font-size: 8pt;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: rgb(159, 157, 157);
  }
  
  .btn {
    border: 1px solid #4099FF;
    border-radius: 5px;
    padding: 10px 10px;
    color: #4099FF;
    font-size: 8pt;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    background-color: white;
  }
  
  .btn:hover {
    background-color: #4099FF;
    color: white;
  }
  
  .btn2 {
    border: 1px solid #4099FF;
    border-radius: 5px;
    padding: 10px 10px;
    color: white;
    font-size: 8pt;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    background-color: #4099FF;
  }
  
  .btn2:hover {
    background-color: white;
    color: #4099FF;
  }
}

/* section main 10 */
.contmain10 {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  background-color: #F5F7FC;
}

.headingcont10 {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.headingcont10 h2 {
  font-size: 22pt;
  text-align: center;
  font-family: Nunito, sans-serif;
  font-weight: 600;
}

.cont102 {
  width: 100%;
  height: 80%;
  display: flex;
  margin: 40px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.contbox102 {
  width: 100%;
  height: 30%;
  margin: 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 100px;
}

.iconbox {
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.icon10 {
  width: 25%;
  height: 100%;
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

.tdes10 {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tdes10 h2 {
  font-size: 14pt;
  padding-bottom: 15px;
  text-align: left;
  font-family: Nunito, sans-serif;
  font-weight: 600;
}

.tdes10 h3 {
  font-size: 12pt;
  text-align: left;
  font-family: Nunito, sans-serif;
  font-weight: 400;
  color: rgb(159, 157, 157);
}


/* MEDIA QUERY FOR SECTION 10  */
@media (max-width: 500px) {
  .contmain10 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F5F7FC;
  }
  
  .headingcont10 {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  .headingcont10 h2 {
    font-size: 14pt;
    text-align: left;
    font-family: Nunito, sans-serif;
    font-weight: 600;
  }
  
  .cont102 {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 20px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .contbox102 {
    width: 100%;
    height: 30%;
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
  }
  
  .iconbox {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: row;
  }
  
  .icon10 {
    width: 25%;
    height: 100%;
    padding-top: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: center;
  }
  
  .tdes10 {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .tdes10 h2 {
    font-size: 10pt;
    padding-bottom: 5px;
    text-align: left;
    font-family: Nunito, sans-serif;
    font-weight: 600;
  }
  
  .tdes10 h3 {
    font-size: 8pt;
    text-align: left;
    font-family: Nunito, sans-serif;
    font-weight: 400;
    color: rgb(159, 157, 157);
  }
}

/* MAIN SECTION 11 */
.contmain11 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.contbox111 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textbox11 {
  width: 90%;
  height: 70%;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textbox11 h1 {
  padding: 5px 0px;
  text-align: center;
  font-size: 20pt;
  font-weight: 500;
  font-style: italic;
  line-height: 40px;
  font-family: "Open Sans", sans-serif;
  color: rgb(144, 144, 144);
}

.textbox11 h2 {
  padding-top: 20px;
  text-align: center;
  font-size: 14pt;
  font-weight: 530;
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
}

.textbox11 h3 {
  text-align: center;
  font-size: 14pt;
  font-weight: 530;
  font-family: "Open Sans", sans-serif;
  color: #4099FF;
}

.contbox112 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.contbox112 img {
  width: 90%;
  height: auto;
}

/* MEDIA QUERY FOR SECTION 11  */
@media (max-width: 500px) {
  .contmain11 {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  
  .contbox111 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .textbox11 {
    width: 90%;
    height: 70%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .textbox11 h1 {
    padding: 5px 0px;
    text-align: center;
    font-size: 12pt;
    font-weight: 500;
    font-style: italic;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
    color: rgb(144, 144, 144);
  }
  
  .textbox11 h2 {
    padding-top: 10px;
    text-align: center;
    font-size: 12pt;
    font-weight: 530;
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
  }
  
  .textbox11 h3 {
    text-align: center;
    font-size: 8pt;
    font-weight: 530;
    font-family: "Open Sans", sans-serif;
    color: #4099FF;
  }
  
  .contbox112 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  
  .contbox112 img {
    width: 90%;
    height: auto;
  }
}
 

/* main section 12 */

.contmain12 {
  padding-bottom: 50px;
  width: 100%;
  height: 120vh;
  background-color: #F5F7FC;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cont2nd12 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  justify-content: space-between;
  padding: 0px 150px;
}

.hed12 {
  padding-top: 8%;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-end;
}

.hed12 h2 {
  font-size: 22pt;
  font-family: Nunito, sans-serif;
  font-weight: 600;
}

.box12 {
  width: 30%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 1s;
  align-items: center;
  box-shadow: 1px 1px 20px rgb(232, 232, 232);
}

.box12:hover {
  margin-top: -15px;
  transition: 0.9s ease;
}

.imgbox12 {
  background-image: url("../../Assets/images/blog4.jpg");
  width: 100%;
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 10px 10px 0px 0px;
}

.imgbox12:hover:after {
  content: "";
  background-image: url("../../Assets/icons/diamond.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  width: 100%;
  height: 100%;
  background-color: rgba(179, 228, 194, 0.505);
  position: absolute;
}

.imgbox12 img {
  width: 50%;
  border-radius: 10px 10px 0px 0px;
}


.contbox12 {
  background-color: white;
  padding: 30px 60px 30px 20px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 0px 0px 10px 10px;
}

.contbox12 h2 {
  font-size: 14pt;
  font-family: Nunito, sans-serif;
  font-weight: 600;
}

.contbox12 h3 {
  padding: 10px 0px;
  text-align: justify;
  font-size: 10pt;
  font-weight: 400;
  color: rgb(141, 140, 140);
}

.contbox12 h4 {
  text-align: justify;
  font-size: 10pt;
  font-weight: 400;
  color: rgb(141, 140, 140);
}

/* media query for section 12  */
@media (max-width: 500px) {

  .contmain12 {
    padding-bottom: 50px;
    width: 100%;
    height: 110vh;
    background-color: #F5F7FC;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .cont2nd12 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
  }
  
  .hed12 {
    padding-top: 10%;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: flex-end;
  }
  
  .hed12 h2 {
    font-size: 14pt;
    font-family: Nunito, sans-serif;
    font-weight: 600;
  }
  
  .box12 {
    width: 30%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 1s;
    align-items: center;
    box-shadow: 1px 1px 20px rgb(232, 232, 232);
  }
  
  .box12:hover {
    margin-top: -5px;
    transition: 0.9s ease;
  }
  
  .imgbox12 {
    background-image: url("../../Assets/images/blog4.jpg");
    width: 100%;
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 10px 10px 0px 0px;
  }
  
  .imgbox12:hover:after {
    content: "";
    background-image: url("../../Assets/icons/diamond.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    width: 100%;
    height: 100%;
    background-color: rgba(179, 228, 194, 0.505);
    position: absolute;
  }
  
  .imgbox12 img {
    width: 50%;
    border-radius: 10px 10px 0px 0px;
  }
  
  
  .contbox12 {
    background-color: white;
    padding: 30px 20px 30px 20px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 0px 0px 10px 10px;
  }
  
  .contbox12 h2 {
    text-align: center;
    font-size: 12pt;
    font-family: Nunito, sans-serif;
    font-weight: 600;
  }
  
  .contbox12 h3 {
    padding: 10px 0px;
    margin-left: 12px;
    text-align: center;
    font-size: 10pt;
    font-weight: 400;
    color: rgb(141, 140, 140);
  }
  
  .contbox12 h4 {
    text-align: center;
    font-size: 8pt;
    font-weight: 400;
    color: rgb(141, 140, 140);
  }
}


/* 13 MAIN SECTION */

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.column1 {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.column1 h2 {
  font-size: 14pt;
}

.col1heading {
  margin-top: 50px;
  padding-left: 100px;
  width: 100%;
  height: 10%;
}

.col1form {
  width: 100%;
  height: 100%;
}

.col1form form {
  padding: 0px 20px 50px 100px ;
  display: flex;
  flex-direction: column;
}

.column2 {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.column2 h2 {
  font-size: 14pt;
  margin-left: 18px;
}


.col2heading {
  margin-top: 50px;
  padding-right: 100px;
  width: 100%;
  height: 10%;
}

input[type="text"],[type="number"],[type="email2"],
select,
textarea {
  background-color: #F6F7F8;
  margin: 15px 0px;
  width: 100%;
  padding: 10px;
  font-size: 10pt;
  border: 1px solid #f9f8ff;
  border-radius: 5px;
  resize: vertical;
}

input[type="textarea2"],
select,
textarea {
  background-color: #F6F7F8;
  margin: 15px 0px;
  width: 100%;
  padding: 10px;
  padding-bottom: 140px;
  font-size: 10pt;
  border: 1px solid #f9f8ff;
  border-radius: 5px;
  resize: vertical;
}

::placeholder {
  color: #9da1a4;
}

.btnblue13 {
  padding: 10px 20px;
  width: 30%;
  color: white;
  background-color: #4076ff;
  border-radius: 5px;
  font-size: 10pt;
  font-family: sans-serif;
  color: white;
  margin-top: 20px;
}

.btnblue13:hover {
  color: #4076ff;
  background-color: white;
  border-color: #4076ff;
}

.col2mapmain {
  padding: 10px;
  width: 100%;
  height: 100%;
}

.col2map {
  background-color: #F6F7F8 ;
  padding: 10px;
  border-radius: 10px;
  width: 91%;
  height: 65%;
}

.mapcontent {
  width: 100%;
  height: 100%;
  padding-left: 15px;
}

.mapcontent h2 {
  margin: 20px 0px;
  font-size: 14pt;
  font-family: Nunito, sans-serif;
  font-weight: 600;
}

.mapcontent h3 {
  padding: 5px 0px;
  text-align: justify;
  font-family: Nunito, sans-serif;
  font-size: 10pt;
  font-weight: 400;
  color: rgb(141, 140, 140);
}

/* media query for section 13 */
@media (max-width: 500px) {
  .section {
    padding-top: 40px;
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .column1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .col1heading h2 {
    font-size: 14pt;
  }

  .col2heading h2 {
    font-size: 14pt;
  }
  
  .col1heading {
    margin-top: 10px;
    padding-left: 20px;
    width: 100%;
    height: 10%;
  }
  
  .col1form {
    width: 100%;
    height: 100%;
  }
  
  .col1form form {
    padding: 20px 20px 20px 20px ;
    display: flex;
    flex-direction: column;
  }
  
  .column2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .column2 h2 {
    margin-left: 10px;
  }
  
  
  .col2heading {
    margin-top: 10px;
    padding-right: 10px;
    margin-left: 12px;
    width: 100%;
    height: 10%;
  }
  
  input[type="text"],[type="number"],[type="email2"],
  select,
  textarea {
    background-color: #F6F7F8;
    margin: 5px 0px;
    width: 100%;
    padding: 10px;
    font-size: 8pt;
    border: 1px solid #f9f8ff;
    border-radius: 5px;
    resize: vertical;
  }
  
  input[type="textarea2"],
  select,
  textarea {
    background-color: #F6F7F8;
    margin: 15px 0px;
    width: 100%;
    padding: 10px;
    padding-bottom: 30px;
    font-size: 8pt;
    border: 1px solid #f9f8ff;
    border-radius: 5px;
    resize: vertical;
  }
  
  ::placeholder {
    color: #9da1a4;
  }
  
  .btnblue {
    padding: 10px 10px;
    width: 100%;
    border: 1px solid white;
    background-color: #4076ff;
    border-radius: 5px;
    font-size: 8pt;
    font-family: sans-serif;
    color: white;
    margin-top: 20px;
  }
  
  .btnblue:hover {
    color: #4076ff;
    background-color: white;
    border-color: #4076ff;
  }
  
  .col2mapmain {
    padding: 10px;
    width: 100%;
    height: 100%;
  }
  
  .col2map {
    background-color: #F6F7F8 ;
    padding: 10px;
    border-radius: 10px;
    width: 91%;
    height: 50%;
  }
  
  .mapcontent {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .mapcontent h2 {
    margin: 20px 0px;
    font-size: 12pt;
    font-family: Nunito, sans-serif;
    font-weight: 600;
  }
  
  .mapcontent h3 {
    padding: 5px 0px;
    margin-left: 5px;
    text-align: left;
    font-family: Nunito, sans-serif;
    font-size: 10pt;
    font-weight: 400;
    color: rgb(141, 140, 140);
  }
}


/* footer section */
.footer {
  width: 100%;
  padding: 0px;
  background-color: #F5F7FC ;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.contforfooter {
  background-color: #F5F7FC;
  width: 100%;
  height: 70px;
  padding: 0px 100px 0px 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fotcontent {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer h3 {
  font-size: 12pt;
  margin: 0px 5px;
  font-weight: 400;
  font-family: Nunito, sans-serif;
  color: rgb(141, 140, 140);
}

.footer h2 {
  font-size: 14pt;
  margin: 0px 5px;
  font-weight: 500;
  font-family: Nunito, sans-serif;
  color: rgb(0, 0, 0);
}

.footer h1 {
  font-size: 12pt;
  margin: 0px 5px;
  font-weight: 400;
  font-family: Nunito, sans-serif;
  color: #4099FF;
  text-decoration: underline;
}

.footericoncont {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.testdiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


/* media query footer  */
@media (max-width: 500px) {
  .footer {
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  
  .contforfooter {
    background-color: #F5F7FC;
    width: 100%;
    height: 30%;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: row;
  }
  
  .fotcontent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .footer h3 {
    font-size: 8pt;
    margin: 0px 2px;
    font-weight: 400;
    font-family: Nunito, sans-serif;
    color: rgb(141, 140, 140);
  }
  
  .footer h2 {
    font-size: 10pt;
    margin: 0px 2px;
    font-weight: 500;
    font-family: Nunito, sans-serif;
    color: rgb(0, 0, 0);
  }
  
  .footer h1 {
    font-size: 8pt;
    margin: 0px 2px;
    font-weight: 400;
    font-family: Nunito, sans-serif;
    color: #4099FF;
    text-decoration: underline;
  }
  
  .footericoncont {
    height: 100%;
    width: 100%;
    display: none;
  }


  img, svg {
    width: 20px;
  }

  .testdiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
